<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjEZmm6Kxt4in4iFznk7h8tN-5Tv2S_-4</string>
	<key>GCM_SENDER_ID</key>
	<string>736454868443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodsearcher</string>
	<key>PROJECT_ID</key>
	<string>blood-searcher</string>
	<key>STORAGE_BUCKET</key>
	<string>blood-searcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736454868443:ios:c3035fa8a835c6c9f97bfe</string>
</dict>
</plist>